RewriteEngine On 
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?libertarianmarket\.com
RewriteRule ^(.*)$ https://www.libertarianmarket.com/$1 [R,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]